{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>Hello Admin</h1>

    This friendly message is coming from:
    <ul>
        <a class="nav-link" href="http://127.0.0.1:8000/product">Product</a>
        <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
        <a class="nav-link" href="http://127.0.0.1:8000/category">Category</a>
        <a class="nav-link" href="http://127.0.0.1:8000/user">User</a>
    </ul>
</div>
{% endblock %}
